body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: helvetica, sans-serif; }

#site {
  position: relative;
  margin: 0px;
  min-width: 1024px; }

table {
  font-family: helvetica, sans-serif;
  position: relative;
  margin: 0px auto; }

.yellow {
  background-color: yellow; }

.red {
  background-color: red; }

.green {
  background-color: lime; }

.blue {
  background-color: cyan; }

.normalcell {
  width: 30px;
  height: 30px;
  font-size: .1em;
  border: 2px solid black; }

.wallcell {
  width: 30px;
  height: 30px;
  border-left: 2px solid black;
  border-right: 2px solid black; }

.homecell {
  width: 35px;
  height: 35px;
  font-size: .1em;
  border: 2px solid black; }

.gap {
  width: 120px; }

.goalcell_left {
  width: 45px;
  height: 90px;
  background-color: lime;
  background-image: linear-gradient(45deg, yellow 25%, transparent 25%, transparent 75%, cyan 75%, cyan), linear-gradient(-45deg, yellow 25%, transparent 25%, transparent 75%, cyan 75%, cyan);
  background-size: 98px 98px;
  background-position-x: 48px;
  background-position-y: -4px; }

.goalcell_right {
  width: 45px;
  height: 90px;
  background-color: red;
  background-image: linear-gradient(45deg, yellow 25%, transparent 25%, transparent 75%, cyan 75%, cyan), linear-gradient(-45deg, yellow 25%, transparent 25%, transparent 75%, cyan 75%, cyan);
  background-size: 98px 98px;
  background-position-x: 0px;
  background-position-y: -4px; }

.gamecontainer_div {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* 	border: 2px dotted fuchsia; */
  top: 100px;
  width: 100%;
  height: 482px; }

#game_canvas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* 	border: 2px dotted blue; */
  z-index: 2; }

#controls_div {
  position: absolute;
  top: 582px;
  width: 100%;
  height: 100px;
  border: 1px solid black; }

#dice_div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 8px;
  width: 76px;
  height: 76px;
  overflow: hidden;
  /* 	border: 1px dotted fuchsia; */ }

#dice_img {
  position: relative;
  width: 330px;
  height: 210px;
  margin-left: -32px;
  margin-top: -23px;
  /* 	border: 1px solid black; */ }

.input_text_field {
  height: 25px; }

.input_btn {
  font-size: medium;
  height: 55px;
  margin-top: 20px; }

.player {
  position: relative;
  width: 76px;
  height: 76px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  background-image: url("../images/players.svg"); }
  .player p {
    font-family: helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    margin-top: 55px; }

.startup_form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -600px;
  padding: 20px;
  border-radius: 22px;
  width: 500px;
  height: 350px;
  z-index: 10;
  font-size: x-large;
  border: 10px solid #000;
  -webkit-transition: margin-top 1s ease 0.3s;
  box-shadow: -5px 10px 15px 1px rgba(43, 32, 32, 0.5); }
  .startup_form h1 {
    text-align: center;
    color: white; }

.game_type_btn {
  position: relative;
  width: 150px;
  height: 150px;
  border: 5px solid black;
  margin-left: 55px;
  display: inline-block; }
  .game_type_btn h2 {
    margin-left: 10px; }

#new_player_div {
  display: none; }

#game_type_div {
  display: none;
  background-color: fuchsia; }

#player1_div {
  background-position-x: 0px; }

#player2_div {
  background-position-x: -75px; }

#player3_div {
  background-position-x: -151px; }

#player4_div {
  background-position-x: -226px; }
